plugins:
  - ["@semantic-release/commit-analyzer", {
      "preset": "angular",
      "releaseRules": [
        {"type": "fix", "release": "patch"},
        {"type": "feat", "release": "minor"},
        {"scope": "README", "release": false},
      ]
    }]
  - "@semantic-release/release-notes-generator"
  - "@semantic-release/github"
branches:
  - "main"
  - "master"
  - name: "develop"
    prerelease: true
