[SERVICE]
    Log_Level       {{ fluentbit_log_level }}
    Parsers_File    parsers.conf

{% for input in fluentbit_inputs %}
[INPUT]
{% for key, value in input.items() %}
    {{key}} {{value}}
{% endfor %}
{% endfor %}

{% if fluentbit_filters is defined %}
{% for filters in fluentbit_filters %}
[FILTER]
{% for key, value in filters.items() %}
    {{key}} {{value}}
{% endfor %}
{% endfor %}
{% endif %}

{% for output in fluentbit_outputs %}
[OUTPUT]
{% for key, value in output.items() %}
    {{key}} {{value}}
{% endfor %}
{% endfor %}